version: '3'

services:
  app:
    image: docker-nextjs-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - 3000:3000
    volumes:
      - .:/app/
      - /app/node_modules
      - /app/.next
